<html>
  <body>
    <h2>Student Account Linked</h2>
    <p>Hello {{recipientName}},</p>
    <p>
      A student account for
      <strong>{{studentName}}</strong>
      has been created at
      <strong>{{schoolName}}</strong>.
    </p>

    <div>
      <p><strong>Student ID:</strong> {{studentId}}</p>
      <p><strong>Username:</strong> {{studentUsername}}</p>
      <p><strong>Class:</strong> {{className}}</p>
      {{#if hasInstitutionalEmail}}
        <p><strong>School email:</strong> {{institutionalEmail}}</p>
      {{/if}}
      {{#if hasTemporaryPassword}}
        <p><strong>Temporary password:</strong> {{temporaryPassword}}</p>
      {{/if}}
    </div>

    {{#if hasPortalUrl}}
      <p>
        Sign in here:
        <a href='{{portalUrl}}'>{{portalUrl}}</a>
      </p>
    {{/if}}

    {{#if hasTemporaryPassword}}
      <p>
        This is a temporary password and the student will be forced to change it
        on first login.
      </p>
    {{/if}}

    <p>
      If any of these details look incorrect, please contact the school
      administration.
    </p>
  </body>
</html>
